@model IEnumerable<ProjetoProCity.Models.Produto>
<link href="~/css/homeprod.css" rel="stylesheet" />
<p class="navi">
    <a asp-controller="Produto" asp-action="CadastrarProduto" class="btn btn-primary bcad">Cadastrar Produto</a>
</p>
<table class="table table-bordered table-hover user-select-none">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    <a asp-controller="produto" asp-action="EditarProduto" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                    <span>|</span>
                    <a asp-controller="produto" asp-action="ExcluirProduto" asp-route-id="@item.Id"
                       onclick="return confirm('Deseja realmente Excluir este item?');" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>